.title {
  text-align: center
}
.follow {
  text-align: center
}
.para {
  
}
@media (orientation: portrait) {
  html {
    background-color: C6C6C6
  }
}
@media (orientation: landscape) {
  html {
    background-color: FF9A84
  }
}
