.title {
  text-align: center
}
.follow {
  text-align: center
}
.para {
  
}
@media (orientation: portrait) {
  html {
    background-color: gray
  }
}
@media (orientation: landscape) {
  html {
    background-color: light-red
  }
}