.title {
  text-align: center
}
.follow {
  text-align: center
}
.para {
  
}
p {
  font-size： 18px
}
.comment {
  width: 300px
  height: 150px
}
@media (orientation: portrait) {
  html {
    background-color: gray
  }
}
@media (orientation: landscape) {
  html {
    background-color: light-red
  }
}