.title {
font-family: Arial;
}
p {
font-family: Arial;
}
.para1 {
font-family: Arial;
}
.para2 {
font-family: Arial;
}
.para3 {
font-family: Arial;
}
.table {
font-family: Arial;
}
.t12 {	
font-family: Arial;
}
.t22 {	
font-family: Arial;
}
.t32 {
font-family: Arial;
}
@media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    tr {
      margin: 0 0 1rem 0;
    }
    
    td {
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 12%;
	padding-right: 12%;
    }
}
