.title {
font-family: Arial;
}
p {
font-family: Arial;
}
.table {
font-family: Arial;
}
@media
    only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {

	table, thead, tbody, th, td, tr {
		display: block;
	}

	thead tr {
		position: absolute;
		top: -9999px;
		left: -9999px;
	}

    tr {
      margin: 0 0 1rem 0;
    }
    
    td {
	border: none;
	border-bottom: 1px solid #eee;
	position: relative;
	padding-left: 50%;
    }

    td:before {
	position: absolute;
	top: 0;
	left: 6px;
	width: 65%;
	padding-right: 10px;
	white-space: nowrap;
    }
    td:nth-of-type(1):before { content: "PhoneGap"; }
    td:nth-of-type(2):before { content: "Flutter"; }
    td:nth-of-type(3):before { content: "React Native"; }
}
