<html lang="en">
@media
	  only screen 
    and (max-width: 760px), (min-device-width: 768px) 
    and (max-device-width: 1024px)  {
.title {
font-family: 'Arial', serif;
}
.para {
font-family: 'Arial', serif;
}
.label {
font-family: 'Arial', serif;
}
table, th, td {
  display: block;
}
.table {
  border-collapse: collapse;
}
.th {
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  font-family: 'Times New Roman', serif
}
th:nth-child(odd) {
  background: #ccc;
}
.td {
  border-collapse: collapse;
  padding: 5px;
  text-align: left;
  font-family: 'Times New Roman', serif
}
td:nth-child(odd) {
  background: #ccc;
}
}
</html>
